body{
    margin: 0;
    padding: 0;
    font-family: 'Secular One', sans-serif;
}



/* ===================Cabeçalho============================*/
header{
    margin-top: 0;
    background-color: #F29921;
    color: white;
    padding: 15px 0 5px;
}

.infoheader > h1{
    font-size: 40px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.377);
}

.infoheader > p{
    font-weight: bold;
    color: #EB4D09;
    margin-bottom: 8px;
}


.infoheader{
    width: 60vw;
    margin: auto;
    text-align: center;
}

.infoheader > h1{
    margin-top: 0;
}


/* ===================Principal============================*/

main{
    width: 80vw;
    margin: auto;
    margin-top: 70px;
}

main > p{
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 10px;
}

.conteudo{
    width: 45vw;
    margin: auto;
    font-size: 22px;

}

section{
    margin-top: 40px;
    margin-bottom: 20px;
}

section > h2{
    margin-left: 40px;
    color: #F29921 ;
    font-size: 30px;

}

section > p{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    
}

figure > img{
    width: 100%;
    border-radius: 7px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.411);
}

figcaption{
    color: #EB4D09;
}

section > a{
    text-decoration: none;
    background-color: #F29921;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 40px;
    display:inline-block;
    margin-bottom: 40px;
    font-size: 0.8em;
}

/* ===================Footer============================*/

footer{
    margin-top: 1px;
    background-color: #F29921;
    color: white;
    padding: 30px;
    text-align: center;
}

hr{
    background-color: #F29921;
    height: 2px;
}

a:hover{
    background-color: #EB4D09;
    transition: 1s;
}

@media screen and (min-width:300px) and (max-width:800px) {


    main > p{
        text-align: left;
        font-size: 20px;
        
    }

    .conteudo{
        width: 100%;
    }
    
    section{
        margin-top: 40px;
        margin-bottom: 20px;
    }


    .infoheader{
        width: 300px;
        margin: auto;
        text-align: center;
    }

    figure{
        width: 100%;
        margin: auto;
    }


    section > h2{
        margin: auto;
        width: 100%;
    }
    
    section > p{
        margin: auto;
        width: 100%;
        text-align: left;
        font-size: 18px;
        margin-top: 30px;
    }

    section > a{
        margin-top: 30px;
        margin-left: 0%;
    }
}